/* reseting the body margin*/
body{
    margin: 0;
}
/*  the logo*/

.logo{
    position: relative;
    left: 7px;
    text-decoration: underline;
    font-family: Copperplate, fantasy;
    font-size: 50px;
    color: crimson;
    top: 7px;
}
/*  the top and bottom bars*/
.tb-item{
width: 100%;
margin: 0;
padding: 0;
background-color: #000000;

}
/*  the top bar*/
.top-item{
    position: fixed;
    height: 95px;
    margin-top: 0%;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    }
    /*  the bottom bar*/
.bottom-item{
    position: fixed;
    margin-top: 0%;
    bottom: 0%;
    height: 105px;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

/*  the background of the hero image*/
.hero{
    position: absolute;
    top: 85px;
    padding-top: 80px;
    padding-bottom: 10%;
    background-color: red;
    width: 45%;    
    height: 50%;
    left: 27%;
}
/* the hero image*/
.heroImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
/*  the text inside the hero image*/
.heroText{
    position: relative;
    background-color: rgb(255, 255, 255);
    font-family: "Rowdies";
    bottom: 60%;
    margin:auto;
    height: 15%;
    width: 75%;
    text-align: center;
    line-height: 60px;
    font-size: 130%;
    outline-style: inset;
    outline-color: #b90909;

}
/*  the bottons*/
.buttons{
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/*  the movies for rent text*/
.feature-Text{
    position: fixed;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 150px;
}
/*  the movies for rent text on the left*/
.rent1{
    left: 3%;
  }
  /*  the movies for rent text on the right*/
.rent2{
    left: 75%;
  }
    /*  the size of the posters*/
.feature-image-1{
    position: fixed;
    width: 10%;
    min-width: 10%;
    max-width: 20%;
    height: 120px;
    min-height: 20%;
    max-height: 20%;
    top: 200px;
    left: 7%;

  }
  .feature-image-2{
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    min-height: 20%;
    height: 120px;
    max-height: 20%;
    top: 200px;
    position: fixed;
    left: 82%;
  }

      /*  the posters*/
      

.poster-2{
    top: 57%;
    
  }
 
 .poster-4{
    top: 57%;

 }